--
-- PostgreSQL database dump
--

\restrict WlEhelvjdzw2vCM03yHoGh1HmTSB46FgcP1Ck2ji39ke0qV00b5XtzZVNoDw2lD

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: OpeningHours; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."OpeningHours" (
    id text NOT NULL,
    "restaurantId" text NOT NULL,
    "dayOfWeek" integer NOT NULL,
    "openTime" text NOT NULL,
    "closeTime" text NOT NULL,
    "isClosed" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."OpeningHours" OWNER TO postgres;

--
-- Name: Reservation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Reservation" (
    id text NOT NULL,
    "restaurantId" text NOT NULL,
    "customerName" text NOT NULL,
    phone text,
    "dateTime" timestamp(3) without time zone NOT NULL,
    "partySize" integer NOT NULL,
    status text DEFAULT 'confirmed'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Reservation" OWNER TO postgres;

--
-- Name: Restaurant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Restaurant" (
    id text NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Restaurant" OWNER TO postgres;

--
-- Name: RestaurantSettings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RestaurantSettings" (
    id text NOT NULL,
    "restaurantId" text NOT NULL,
    "maxGuestsPerSlot" integer DEFAULT 10 NOT NULL,
    "reservationDurationMin" integer DEFAULT 90 NOT NULL
);


ALTER TABLE public."RestaurantSettings" OWNER TO postgres;

--
-- Data for Name: OpeningHours; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."OpeningHours" (id, "restaurantId", "dayOfWeek", "openTime", "closeTime", "isClosed") FROM stdin;
cmo8hu56200004wmepz8bu7on	rest_1	0	13:00	23:00	f
cmo8hu58p00014wmew0kib34h	rest_1	1	13:00	23:00	f
cmo8hu58u00024wme426wwc8c	rest_1	2	13:00	23:00	f
cmo8hu58x00034wmea50gl763	rest_1	3	13:00	23:00	f
cmo8hu59100044wme1wtprm6z	rest_1	4	13:00	23:00	f
cmo8hu59400054wmexousxhix	rest_1	5	13:00	23:00	f
cmo8hu59800064wmegaytscrp	rest_1	6	13:00	23:00	f
\.


--
-- Data for Name: Reservation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Reservation" (id, "restaurantId", "customerName", phone, "dateTime", "partySize", status, "createdAt") FROM stdin;
cmo8ia02b0000w0mevxlxyae4	rest_1	Juan Perez	600123123	2026-04-22 13:00:00	2	confirmed	2026-04-21 10:53:35.316
cmo8ijbbb0001w0mevigc7k5w	rest_1	Juan Perez	600123123	2026-04-22 13:00:00	2	confirmed	2026-04-21 11:00:49.799
\.


--
-- Data for Name: Restaurant; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Restaurant" (id, name, "createdAt") FROM stdin;
rest_1	Mi Restaurante	2026-04-20 22:17:37.141
\.


--
-- Data for Name: RestaurantSettings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."RestaurantSettings" (id, "restaurantId", "maxGuestsPerSlot", "reservationDurationMin") FROM stdin;
cmo7r9tja000054med3278dqu	rest_1	5	90
\.


--
-- Name: OpeningHours OpeningHours_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OpeningHours"
    ADD CONSTRAINT "OpeningHours_pkey" PRIMARY KEY (id);


--
-- Name: Reservation Reservation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Reservation"
    ADD CONSTRAINT "Reservation_pkey" PRIMARY KEY (id);


--
-- Name: RestaurantSettings RestaurantSettings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RestaurantSettings"
    ADD CONSTRAINT "RestaurantSettings_pkey" PRIMARY KEY (id);


--
-- Name: Restaurant Restaurant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Restaurant"
    ADD CONSTRAINT "Restaurant_pkey" PRIMARY KEY (id);


--
-- Name: OpeningHours_restaurantId_dayOfWeek_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "OpeningHours_restaurantId_dayOfWeek_key" ON public."OpeningHours" USING btree ("restaurantId", "dayOfWeek");


--
-- Name: Reservation_restaurantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Reservation_restaurantId_idx" ON public."Reservation" USING btree ("restaurantId");


--
-- Name: RestaurantSettings_restaurantId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "RestaurantSettings_restaurantId_key" ON public."RestaurantSettings" USING btree ("restaurantId");


--
-- Name: OpeningHours OpeningHours_restaurantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OpeningHours"
    ADD CONSTRAINT "OpeningHours_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES public."Restaurant"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Reservation Reservation_restaurantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Reservation"
    ADD CONSTRAINT "Reservation_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES public."Restaurant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RestaurantSettings RestaurantSettings_restaurantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RestaurantSettings"
    ADD CONSTRAINT "RestaurantSettings_restaurantId_fkey" FOREIGN KEY ("restaurantId") REFERENCES public."Restaurant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict WlEhelvjdzw2vCM03yHoGh1HmTSB46FgcP1Ck2ji39ke0qV00b5XtzZVNoDw2lD

